/* GLOBAL */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #450145;
  background: radial-gradient(circle at top, #7c3aed, #020617);
  color: white;
}

/* WRAPPER */
.qr_wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.qr_container {
  background: linear-gradient(0deg, rgba(115, 47, 115, 0.797) 0%, rgb(227, 225, 228) 100%);
  backdrop-filter: blur(15px);
  padding: 35px;
  border-radius: 24px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 0 10px rgba(64, 23, 136, 0.6);
  text-align: center;
}

.title {
  background: none;
  margin-bottom: 25px;
  font-size: 26px;
  color: #640364;
}

/* INPUT */
.input_box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background: none;
}

.input_box input {
  flex: 1;
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background-color: #daccda;
}

.create_btn {
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(135deg, #7c3aed, #ec4899);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.create_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #8d038d;
}

/* QR */
.qr_box {
  margin: 30px 0;
  padding: 15px;
  background: #e1e1ea;
  border-radius: 20px;
  box-shadow: 0 0 5px #a78bfa;
}

/* ACTION BUTTONS */
.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  background: none;
}

.actions button {
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #0597ae, #595bda);
  color: white;
  font-weight: bold;
}

.actions button:hover {
  box-shadow: 0 0 15px #38bdf8;
}

/* HISTORY */
.toggle_history {
  margin-top: 20px;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.history {
  margin-top: 15px;
  background: none;
}

.history div {
  background: rgba(255, 255, 255, 0.18);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.history div:hover {
  background: rgba(255, 255, 255, 0.35);
}

/* MOBILE */
@media (max-width: 480px) {
  .input_box {
    flex-direction: column;
  }
}